body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('/img/11_start_page/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.information {
    width: 60%;
}

.d-none {
    display: none !important;
}

.hidden {
    display: none;
}

.hoverStyle {
    transition: color 1s ease-in-out;
    transition: transform .2s;
}

.enemies {
    bottom: 20%;
    left: 45%;
    font-size: 30px;
}

.mechanic {
    bottom: 20%;
    left: 10%;
    font-size: 30px;
}

.boss {
    bottom: 20%;
    right: 15%;
    font-size: 30px;
}

.hoverStyleAbout:hover {
    cursor: pointer;
    color: #0d9fc9;
    transform: scale(1.2);
}

.hoverStyle:hover {
    cursor: pointer;
    color: #ffa400;
    transform: scale(1.2);
}

.hoverBackground {
    background-color: #ffa400;
    border-radius: 20px;
    padding: 10px;
}

.hoverBackground:hover {
    background-color: #000000;
    border-radius: 20px;
    padding: 10px;
}

.page-information {
    font-size: 18px;
}


h1 {
    text-align: center;
    font-size: 72px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    align-items: center;
}

.play-game {
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
}

span {
    color: #000000;
    font-size: 38px;
    text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/11_start_page/ripped_paper.png');
    background-size: cover;
}

.overlay-game-over {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/9_intro_outro_screens/game_over/game\ over!.png');
    background-size: cover;
    background-position-y: start;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-win {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/5_background/second_half_background.png');
    background-size: cover;
    background-position-y: start;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}


.overlay-game-over span {
    position: absolute;
    bottom: 10%;
}

.overlay-win h2 {
    font-size: 82px;
    color: #ffa400;
    text-shadow: 1px 12px 12px rgba(0, 0, 0, 0.5);
}

.overlay-win span {
    position: absolute;
    bottom: 10%;
}

.start-game {
    left: 20%;
}

.exit {
    right: 20%;
}

.overlay-button span {
    position: absolute;
}

.play {
    top: 20%;
    left: 20%;
}

.back {
    top: 20%;
    right: 20%;
}

.sign {
    display: flex;
    position: absolute;
    top: 5%;
    left: 40%;
}

.instruction {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 5%;
    left: 30%;
}

.fullscreen-image {
    position: absolute;
    top: 5%;
    right: 10%;
}

.fullscreen-image img {
    height: 50px;
    transition: transform .2s ease-in-out;
}

.fullscreen-image img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.sound-check img {
    height: 80px;
    position: absolute;
    right: 20%;
    top: 2%;
    transition: transform .2s ease-out;
    z-index: 9;
}

.sound-check img:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.sound-check-ingame img {
    height: 30px;
    position: absolute;
    top: 8%;
    left: 40%;
    transition: transform .2s ease-out;
}

.sound-check-ingame img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.keyboard-instruction {
    display: flex;
    gap: 8em;
    padding: 10px;
}

.arrow {
    gap: 10px;
}

.arrow img {
    height: 30px;
}

.arrow-left img {
    rotate: 90deg;
}

.arrow-right img {
    rotate: -90deg;
}

canvas {
    background-color: rgb(87, 87, 87);
    display: block;
}

button {
    background-color: #df343f;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#btnLeft {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#btnRight {
    position: absolute;
    bottom: 5%;
    left: 20%;
}

#btnJump {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#btnThrow {
    position: absolute;
    bottom: 5%;
    right: 20%;
}


@font-face {
    font-family: 'zabras';
    src: url('/fonts/Zabars.ttf') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ----- SMARTPHONES ------*/

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 719px) {
    body {
        height: 100%;
        background-image: url('img/11_start_page/landscape_mode.png');
    }

    .landscapeMode {
        display: none;
    }
}


@media only screen and (max-height: 480px) {
    canvas, .content, .canvas-container {
        height: 100vh;
        width: 100%;
        content: 100%;
    }

    .landscapeMode {
        width: 100%;
        display: flex;
    }

    #title, .keyboard-container, .fullscreen-image {
        display: none;
    }

    .page-information {
        font-size: 16px;
    }

    #soundOn, #soundOff {
        right: 10%;
        height: 60px;
    }


    .instruction span, .play-game span {
        height: 30px;
        font-size: 30px;
    }

    .mechanic, .enemies, .boss {
        bottom: 10%;
    }

    .page-information {
        margin-top: 45px;
    }
}